<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Prestijli Yaşam</h6>

                <h1 class="text-white mb-4">Lüksün ve Konforun Yeni Merkezini Keşfedin</h1>

                <p class="text-white mb-4">
                    Eşsiz deniz manzarası, dünya mutfağından seçkin lezzetleri barındıran restoranları ve her detayı konforunuz için tasarlanmış lüks odalarıyla Hotelier, sıradan bir konaklamanın ötesinde, unutulmaz bir yaşam deneyimi sunuyor. Kendinizi şımartmanın tam zamanı.
                </p>

                <a href="/Room/Index/" class="btn btn-primary py-md-3 px-md-5 me-3">Odalarımızı Gör</a>
                <a href="/Booking/Index/" class="btn btn-light py-md-3 px-md-5">Hemen Rezervasyon Yap</a>
            </div>
        </div>
        <div class="col-md-6 px-0" style="min-height: 350px;">
            <iframe class="w-100 h-100"
                    style="min-height: 350px; object-fit: cover; border: none;"
                    src="https://www.youtube.com/embed/cdKx1Zv3YKs?si=3naACzR0IU42Udfs"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>