<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Hizmetlerimiz</h6>
            <h1 class="mb-5">Ayrıcalıklı <span class="text-primary text-uppercase">Hizmetlerimizi</span> Keşfedin</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-hotel fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Oda & Süit Konaklama</h5>
                    <p class="text-body mb-0">Her detayı konforunuz için tasarlanmış, modern ve geniş oda seçenekleriyle evinizdeki rahatlığı lüksle buluşturuyoruz.</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-utensils fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Restoran & Dünya Mutfağı</h5>
                    <p class="text-body mb-0">Ödüllü şeflerimizin ellerinden çıkan seçkin lezzetlerle, Türk ve dünya mutfağının en özel tatlarını beğeninize sunuyoruz.</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-spa fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Spa & Sağlık Merkezi</h5>
                    <p class="text-body mb-0">Günün yorgunluğunu geride bırakacağınız özel masaj terapileri, sauna ve geleneksel Türk hamamı ile ruhunuzu dinlendirin.</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-swimmer fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Eğlence & Oyun Alanları</h5>
                    <p class="text-body mb-0">Açık ve kapalı yüzme havuzları, eğlenceli aktivite alanları ve mini kulübümüzle her anı dolu dolu bir tatil geçirin.</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-glass-cheers fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Organizasyon & Davet</h5>
                    <p class="text-body mb-0">Düğün, nişan, gala ve özel kutlamalarınız için son teknoloji ile donatılmış şık salonlarımızda kusursuz organizasyonlar planlıyoruz.</p>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-dumbbell fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Fitness & Spor Salonu</h5>
                    <p class="text-body mb-0">Tatilde de formunu korumak isteyen misafirlerimiz için profesyonel ekipmanlarla donatılmış salonumuz 7/24 hizmetinizdedir.</p>
                </a>
            </div>
        </div>
    </div>
</div>